NODE_ENV=development

DATABASE_URL=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
PORT=4040
FRONTEND_URL=http://localhost:3000


SWAGGER_USER=admin
SWAGGER_PASSWORD=your-super-long-random-password

# Email
GMAIL_USER=your.gmail@gmail.com
GMAIL_APP_PASSWORD=xxxx xxxx xxxx xxxx

# Twilio (primary SMS)
TWILIO_ACCOUNT_SID=ACxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_PHONE_NUMBER=+1xxxxxxxxxx

# SMSBD (SMS fallback)
SMS_BD_API_KEY=your_api_key_here
